.book-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 180px;
  text-align: center;
}

.book-item-cover {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 3px 3px 10px var(--Black);
}

.book-item-title {
  font-size: 1rem;
  margin-top: 10px;
}
