.book-info-container {
  text-align: center;
  font-family: "Arial", sans-serif;
  min-width: 300px;
}

.book-info-container .load-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--Secondary-600-P);
  color: var(--White);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.book-info-container .load-button:hover {
  background-color: var(--Secondary-900);
}

.book-info-container .book-details-container {
  margin-top: 30px;
}

.book-info-container .book-details-cover {
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px var(--Black);
}

.book-info-container .book-details-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.book-info-container p {
  font-size: 1rem;
  margin: 5px 0;
}

.book-info-container .loading {
  font-size: 1.2rem;
  text-align: center;
  color: var(--Secondary-600-P);
}

.book-info-container .error {
  font-size: 1.2rem;
  text-align: center;
  color: var(--Persian-Red-500-P);
}
