.book-list-container {
  text-align: center;
  width: 100%;
}

.search-box {
  padding: 10px;
  width: 300px;
  font-size: 1rem;
  border: 1px solid var(--Neutral-600-P);
  border-radius: 5px;
  margin-bottom: 15px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.no-results {
  font-size: 1.2rem;
  color: var(--Neutral-600-P);
}

.loading,
.error {
  font-size: 1.2rem;
  color: var(--Persian-Red-500-P);
}
.book-card-wrapper {
  position: relative;
}

.book-preview-overlay {
  position: fixed;
  background: var(--Neutral-950);
  color: var(--White);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px var(--Black);
  z-index: 1000;
  width: 250px;
  max-width: calc(100vw - 20px);
  display: block;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.book-card-wrapper:hover .book-preview-overlay {
  visibility: visible;
  opacity: 1;
}

.preview-content {
  text-align: center;
}

.preview-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 5px;
}

.preview-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}

.preview-text {
  font-size: 14px;
}
